/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    01. Text Colors
---------------------------------------------------------------------------------------------------------------------------------------------------- */
.text-dark-blue {
  color: $dark-blue;
}

.text-white {
  color: $white !important;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    02. Background Colors
---------------------------------------------------------------------------------------------------------------------------------------------------- */
.bg-dark-blue {
  background-color: $dark-blue;
}
