// Colors
$black: #000000;
$white: #ffffff;
$gray-100: #f4f4f4;
$dark-gray: #686d71;
$dark-blue: #324356;

// Font Sizes
$text-title: 24px;
$text-title2: 22px;
$text-title3: 20px;
$text-title4: 25px;
$text-subtitle: 18px;
$text-headline: 16px;
$text-body: 14px;
$text-caption: 12px;



